.header{
  grid-area: h;
  background-color: #00a3e8;
}

.header img{
  width: 60px;
  vertical-align: middle;
}

.floating {
  display: table;
  float: right;
  margin: 0.5% 0.5% 0.5% auto;
  vertical-align: middle;
}
.floating button {
  display: table-cell;
  vertical-align: middle;
  margin: 0 4px 0 auto;
}